extends category_sidebar 

block content
  h1= title
  if items.length
    ul
      each item in items
        li
          a(href=item.url) #{item.name}
          |  #{item.description} 
  else
    p There are no item.