extends category_sidebar

block content
  h1= title
  if categories.length
    ul
      each item in categories
        li
          a(href=`/category/${item.id}`) #{item.name}
          |  #{item.description}
  else
    p There are no item.